h1{
    color: blue;
    font-size: 20px;
    width: 400px;
    text-align: center;
    
}

h2{
    color: blue;
    font-size: 15px;
    width: 400px;
    text-align: center;
}

p{
    width: 400px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
    
}

.red{
    color: red;
}

.italic{
    color: blue;
    font-style: italic;
}