h1{
    color: blue;
    font-size: 20px;
    width: 400px;
    text-align: center;
    
}

h2{
    color: blue;
    font-size: 15px;
    width: 400px;
    text-align: center;
}

p{
    width: 400px;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
    
}

.red{
    color: red;
}

.italic{
    color: blue;
    font-style: italic;
}

.new_p
{
    color: black;
    /* Размер шрифта */
    font-size: 16px;
    /* Ширина */
    width: 50%;
    /* Выравнивание текста */
    /* left, right, center, justify */
    text-align: justify;
    /* Насыщенность/Жирность */
    font-weight: bold;
    /* Начертание/курсив */
    font-style: italic;
    /* Пространствро между строк */
    line-height: 40px;
    /* Отступ первой строки */
    text-indent: 40px;
    /* Подчёркивание/Вычёркивание */
    text-decoration: underline;
}